@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

.darkmode {
  background-color: rgb(31, 31, 31);
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(1, 0, 0, 1);
  color: white;
  font-family: 'Nunito';
}
body {
  background-color: white;
  transition-duration: 1s;
  color: black;
  transition-timing-function: cubic-bezier(1, 0, 0, 1);
  font-family: 'Nunito';
}

div {
  background-color: rgba(202, 202, 202, 0.205);
  padding: 10px;
}

button {
  background-color: rgba(73, 73, 73, 0.521);
  border: 0px;
}